<section class="cart py-16">
    <!-- <div class="empty-cart py-16">
         <div class="container mx-auto text-center">
             <h1 class="text-3xl font-bold-mb-2">Cart Empty 😔</h1>
             <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a pizza yet <br>
                 To order a pizza go to main page </p>
             <img src="/img/empty-cart.png" alt="empty-cart" class="w-2/5 mx-auto">
             <a href="/" class="inline-block rounded-full px-6 py-2 btn-primary text-white font-bold mt-12">Go back</a>
         </div>
     </div>-->
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order Summary</h1>
        </div>
        <div class="pizza-list">
            <div class="flex items-center my-8">
                <img src="img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Margherita</h1>
                    <span>medium</span>
                </div>
                <span class="flex-1">1 PC</span>
                <span class="font-bold text-lg">₹ 300</span>
            </div>
            <div class="flex items-center my-8">
                <img src="img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Margherita</h1>
                    <span>medium</span>
                </div>
                <span class="flex-1">1 PC</span>
                <span class="font-bold text-lg">₹ 300</span>
            </div>
            <div class="flex items-center my-8">
                <img src="img/pizza.png" alt="" class="w-24">
                <div class="flex-1 ml-4">
                    <h1>Margherita</h1>
                    <span>medium</span>
                </div>
                <span class="flex-1">1 PC</span>
                <span class="font-bold text-lg">₹ 300</span>
            </div>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold ml-2">₹ 300</span>
            </div>
            <div>
                <form action="" class="mt-12">
                    <input type="text" class="border-gray-400 border mb-4 p-2 w-1/2" placeholder="Phone number">
                    <input type="text" class="border-gray-400 border p-2 w-1/2" placeholder="Address">
                    <div>
                        <!--<button type="submit"
                                class="btn-primary rounded-full px-6 py-2 text-white font-bold mt-6">Order now
                        </button>-->
                    </div>
                </form>
            </div>
            <a href="" class="inline-block cursor-pointer px-6 py-2 rounded-full btn-primary text-white mt-6 font-bold">Login to continue</a>
        </div>
    </div>
</section>